header{
	background-color: black;
}

.logo{
	padding: 10px;
}
.menu{
	text-decoration: none;
	color: white;
	margin: 2px;
	padding: 1px;
	position: relative;
	top: 60px;
}

.box-imagen{
	background-color: #978B8B;
	padding: 20px;
	margin: 0 auto; 

}

 h2{
 	padding: 20px;
 	display: inline-block;
 }

 .enlacesection{
 	display: inline-block;
 	text-decoration: none;
 }

 .foto-episodios{
 	float: left;
 	width: 100%;
 	border: 4px ridge #fff;
 	margin: 10px auto;
 	text-align: center;
 }



 .enlace-foto{
 	text-decoration: none;
 	text-align: center;
 	padding: 15%;
 }

 .fotos-chicas{
 	margin: 20px auto;
 	text-align: center;
 }

.fotos-primera{
 	width: 100%;
 	margin-right: 25px;
 	border: 4px ridge #fff;

}

.enlace-contenido{
 	text-decoration:none;
 	font-size: 10px;
 	text-align: center;
 	

 }


  h4{

 	margin:10px 0px;
 	color: #817373;
 	border-bottom: 1px solid #9D8F8F;
 	width: 100%;
 	padding: 3px;
 	
 }

 .lateral{
 	text-decoration: none;
 	padding: 5px;
 	font-size: 13px;
 	color: #0E40CF;

}



 .titulo-aside{
 	margin:10px 0px;
 	color: #817373;
 	width: 100%;
 }

 .icono{
 	width: 8%;
 	

 }

 .parrafo-aside{
 	margin-top: 20px;
 	font-size: 13px;
 	border-top: 1px solid #9D8F8F;
 	padding: 20px;

 }

 .lateral-enlace{
 	text-decoration: none;
 	font-size: 13px;
 	padding: 3px;
 
 }

 footer{
 	background-color: #484545;
 	width: 100%
 	

 }

 .parrafo-footer1{
 	margin:30px;
 	color: #fff;
 }

 .footer-enlace1{
 	text-decoration: none;
 	font-size: 15px;
 	color: #908989;
 }


 .footer-enlace{
 	text-align: center;
 	text-decoration: none;
 	font-size: 15px;
 	color: #908989;
 	margin: 10px;
 	padding: 10px;
 	

 	
 }

 .parrafo-footer{
 	text-align: center;
 	margin:30px;
 	font-size: 10px;
 	color: #6F6B6B;
 }
